<h1>{{ title }}</h1>

<meu-primeiro-component></meu-primeiro-component>

<!-- Exemplo de uso de modulos e componente privado  -->
<!-- <app-cursos></app-cursos>  -->

<!-- Exemlpo de data binding e input/output properties -->
<!-- <app-data-binding></app-data-binding> -->

<!-- Exemlpo Two-way data binding, input properties e componente privado -->
<!-- <app-meu-form></app-meu-form> -->

<!-- ciclo de vida do componente e input/output properties -->
<!-- <div class="alert alert-danger" *ngIf="destruir">{{msg}}</div>
<app-ciclo [valorInicial]="valor" *ngIf="!destruir" (mudouValor)="mudou($event)"></app-ciclo>
<button (click)="mudarValor()">Mudar Valor</button>
<button (click)="destruirCiclo()">Destruir</button> -->

<!-- <app-diretivas></app-diretivas> -->

<!-- Evita nullpointer -->
<app-operador-elvis></app-operador-elvis>